@page "/student"
@using QLSV.Data
@using System.ComponentModel
@using AntDesign.TableModels
<PageTitle>Student</PageTitle>
<Button Type="primary" @onclick="AddStudent">ADD</Button>

<Table TItem="StudentViewModel" DataSource="studentsViewModels" PageSize="10">
    <Column @bind-Field="context.stt"></Column>
    <Column @bind-Field="context.ten"></Column>
    <Column @bind-Field="context.gioitinh">@(context.gioitinh==0 ? "Nam" : "Nữ")</Column>
    <Column @bind-Field="context.tuoi"></Column>
    <Column @bind-Field="context.diemtoan"></Column>
    <Column @bind-Field="context.diemanh"></Column>
    <Column @bind-Field="context.diemvan"></Column>
    <Column @bind-Field="context.diemtb"></Column>
    <Column @bind-Field="context.hocluc"></Column>
    <ActionColumn Title="Action" Fixed="right" Class="btn-link">
        <Icon Type="edit" Theme="outline" @onclick="() => Edit(context)" Width="20" Height="20" />
       
        @*<Popconfirm Title="Sure to delete?"
                    OnConfirm="()=> DeleteSinhVienAsync(context.id)"
                    OkText="Yes"
                    CancelText="No">
            <Icon Type="delete" Theme="outline" Width="20" Height="20" />
        </Popconfirm>*@
    </ActionColumn>
</Table>

<Drawer Closable="true" Visible="visible" Placement="right" Width=500 Title='("Sinh Viên")' OnClose="() => visible = false">  
    <EditStudent @ref="editStudent" Cancel="() => visible = false" ValueChange="Save"></EditStudent>
</Drawer>

